/* div에 테두리 설정 */
#container, #container div {
  border: 5px solid red;
  margin: 10px;
}

/* 
grid란? 해당 요소를 레이아웃으로 설정하여, 자식 요소들을 행과 열로 배치하는 방식 
grid-template-columns이란? 열을 정의하는 속성으로, 1fr 1fr은 두개의 열을 동일한 비율로 설정하는 것
*/
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
